<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-circle" src="images/profile.jpg" alt="Oscar González" width="256" height="256"/>
        <div class="intro-text">
          <span class="name">Oscar González</span>
          <hr class="star-light">
          <span class="skills">Software Engineer - Web Developer</span>
        </div>
      </div>
    </div>
  </div>
</header>


<section class="success" id="Profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Profile</h2>
        <hr class="star-primary">
        <h3 style="font-style: italic">
          <center>I&#039;m a Software Developer</center>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h3><i class="fa fa-male"> About me:</i></h3>
        <p>
          I'm a responsible person that likes to work under pressure. I have experience developing web applications, web
          sites and desktop systems.
        </p>
        <p>
          I have no problems solving any difficulty that appears, it doesn't matter if it is a design, programming or
          testing task, be sure I'm gonna solve it.
        </p>
        <p>
          I like to participate in seminars and lectures and I'm always interested in learning new skills, whether in
          technology or research area. I like working in a team and enjoy traveling, as well as all sorts of music.
        </p>
      </div>

      <div class="col-lg-4 col-lg-offset-1">
        <h3><i class="fa fa-sticky-note"> Details:</i></h3>
        <p>
          <strong>Full Name:</strong><br/>
          Oscar Sergio González Camacho<br/>
        </p>
        <p>
          <strong>Age:</strong><br/>
          23 years<br/>
        </p>
        <p>
          <strong>Location:</strong><br/>
          Cochabamba, Bolivia
        </p>
        <br><br>
        <a href="https://twitter.com/Oscar_sgc" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow
          @Oscar_sgc</a>
        <script>!function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </div>
</section>



<section class="magic" id="Experiences">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience</h2>
        <hr class="star-light">
      </div>
    </div>
    <h3><i class="fa fa-graduation-cap"> Education:</i></h3>
    <br>
    <% @educations.each do |education| %>
        <div class="row">
          <div class="col-md-4">
            <h4><strong><%= education.title %></strong></h4>
            <p class="experience-period">
              <%= education.start.year.to_s + '-' +
                      if education.currently
                        'current'
                      else
                        education.finish.year.to_s
                      end %>
            </p>
              <span class="location">
                    <span class="glyphicon glyphicon-map-marker"></span>
                <%= education.location %>
              </span>
          </div>
          <div class="col-md-8">
            <p>
              <strong><%= education.degree %></strong>
              <br><br>
				        <span class="experience-details">
                  <%= education.description %>  
                </span>
            </p>
          </div>
        </div>
        <br>
    <% end %>
    <h3><i class="fa fa-briefcase"> Career:</i></h3>
    <% @works.each do |work| %>
        <div class="row">
          <div class="col-md-4">
            <h4><strong><%= work.title %></strong></h4>
            <p>
              <%= work.start.strftime("%B") + " " + work.start.year.to_s + ' - ' +
                      if work.currently
                        'current'
                      else
                        work.finish.strftime("%B") + " " + work.finish.year.to_s
                      end %>
            </p>
            <p>
              <span class="glyphicon glyphicon-map-marker"></span>
              <%= work.location %>
            </p>
            <p>
              <% if work.link != '' %>
                  <span class="fa fa-link"></span><a href="<%= work.link %>"> <%= work.title %></a>
              <% end %>
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong><%= work.role %></strong><br><br>
				        <span class="experience-details">
					       <%= work.description %>
				        </span>
            </p>
          </div>
        </div>
        <br>
    <% end %>
  </div>
</section>


<section class="success" id="Abilities">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Abilities</h2>
        <hr class="star-primary">
      </div>
    </div>
    <h3><i class="fa fa-code"> Skills:</i></h3>
    <br>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <% @abilities.each do |ability| %>
              <li>
                <span><%= ability.name %></span>
				        <span class="ability-score">
                  &nbsp;
                  <% for i in 1..ability.rating %>
                        <%= '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe %>
                  <% end %>
				        </span>
              </li>
              <br>
              <% if @abilities.count > 6 %>
                  </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="no-bullets">
              <% end %>
          <% end %>
          </ul>
    </div>
    </div>

    <div class="text-center project-referal">
      <p>Current Website has been developed using Ruby On Rails.</p>
      <a style="color: #FBFFFE" href="https://github.com/Oscarsgc/digital-resume" class="btn btn-primary" target="_blank">See
        project on
        Github</a>
    </div>
    <br>
    <br>
    <hr class="star-primary">
    <h3><i class="fa fa-language" aria-hidden="true"> Languages:</i></h3>
    <br>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <% @languages.each do |language| %>
              <li>
                <span class="ability-title"><%= language.name + " " +language.level %></span>
				            <span class="ability-score">
                        &nbsp;
                      <% for i in 1..language.rating %>
                        <%= '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe %>
                      <% end %>
                    </span>
              </li>
              <br>
          <% end %>
        </ul>
      </div>
    </div>
    <hr class="star-primary">
    <h3><i class="fa fa-wrench"> Tools:</i></h3>
    <br>
    <div class="row">
      <div class="col-md-6">
        <ul class="no-bullets">
          <% @tools.each do |tool| %>
              <li>
                    <span class="ability-title">
                      <%= tool.name %>
                    </span>
				            <span class="ability-score">
                        &nbsp;
                      <% for i in 1..tool.rating %>
                        <%= '<i class="fa fa-star" aria-hidden="true"></i>'.html_safe %>
                  <% end %>
                    </span>
              </li>
              <br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="magic" id="Projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <% @projects.each do |project| %>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <figure class="effect">
              <%= image_tag project.photo.url(:square) %>
              <figcaption>
                <h3><%= project.name %></h3>
                <p><%= project.description %></p>
                <a href="<%= project.link %>" target="_blank">View more</a>
				        <span class="icon">
        					<span class="glyphicon glyphicon-new-window"></span>
        				</span>
              </figcaption>
            </figure>
          </div>
      <% end %>
    </div>
  </div>
</section>

<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>


<script type="text/javascript">
  jQuery(function ($) {

    $(function () {
      $('#main-slider.carousel').carousel({
        interval: 5000,
        pause: false
      });
    });

    //smoo th scroll
    $('.navbar-nav > li').click(function (event) {
      event.preventDefault();
      var target = $(this).find('>a').prop('hash');
      $('html, body').animate({
        scrollTop: $(target).offset().top
      }, 500);
    });

    //scrollspy
    $('[data-spy="scroll"]').each(function () {
      var $spy = $(this).scrollspy('refresh')
    })

  });
</script>
